.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


img {
  width: 100%;
  height: auto;
}

.nameStyle
{
  display: flex;
  line-height: 200%;
}

.btnStyle{
  width: 10%;
}

.dateStyle
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dateBoxStyle
{
  display: flex;
  line-height: 200%;
}

.GridListTileBar{
}